#header
	#header_wrapper
		#header_title= Grundlebox::Config::SiteTitle
		#admin_tools
			#{ current_user.email } | #{link_to "Log out", admin_logout_path } | #{ link_to "Site home", "/" } | #{ link_to "Help", admin_help_path }

		%ul#main_navigation= admin_main_menu
		
#sub_navigation_wrapper
	%ul#sub_navigation= admin_sub_menu
	
	
#wrapper
	
	#main_content
		= yield :body

#footer_wrapper
	#footer
		%strong #{ Grundlebox::Config::SiteTitle } 
		==// 
		Powered by GrundleBox v#{ Grundlebox::Internal::Version }
		==// 
		<a href="http://www.grundlebox.co.uk" rel="external">www.grundlebox.co.uk</a>
