%fieldset.article_type{ :id => "article_type_#{k}" }
	%legend Game review properties
	
	.full
		= render :partial => "admin/articles/article_types/review_rating", :locals => { :f => f }
	
	= f.fields_for :properties do |properties|
		.full= properties.text_field :game_title
		.full= properties.text_field :game_publisher
		.full= properties.text_field :game_release_date
		.full= properties.text_field :game_consoles
		.full.bottom= properties.text_field :game_price